.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;

  caption {
    margin-bottom: 0.625rem;
  }


  th, td {
    padding: 0.125rem;
    border: 1px solid $content-color;
    max-width: 30px;
    font-size: 0.875rem;
  }

  th {
    &:nth-child(1) {
      width: 20%;
    }
    &:nth-child(2) {
      width: 30%;
    }
    &:nth-child(3) {
      width: 20%;
    } 
    &:nth-child(4) {
      width: 10%;
      font-size: 0.775rem;
    } 
    &:nth-child(5) {
      width: 10%;
      font-size: 0.775rem;
    }
    &:nth-child(6) {
      width: 10%;
      font-size: 0.775rem;
    }

  }

  td {
    text-align: center;
  }
}